# temps
.vscode
.ipynb_checkpoints
__pycache__
Thumbs.db
_old/

# work in progress
/mechanical_design/*
!mechanical_design/images
!mechanical_design/v2
!mechanical_design/Fritzing
/mechanical_design/Fritzing/parts

# data directory
/scans/*
